.text {
	background-image: -webkit-linear-gradient(
		135deg,
		#6366f1,
		#a855f7,
		#ec4899
	);
	background-image: -moz-linear-gradient(135deg, #6366f1, #a855f7, #ec4899);
	background-image: linear-gradient(135deg, #6366f1, #a855f7, #ec4899);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
